<script setup>
import TheNavbar from '@/components/TheNavbar.vue';
import ThePost from '@/components/ThePost.vue';
</script>

<template>
    <TheNavbar />
    <Suspense>
        <ThePost />
        <template #fallback>
            <div v-loading="true" class="loading"></div>
        </template>
    </Suspense>
</template>

<style scoped>
.loading {
    height: 100vh;
    width: 100vw;
}
</style>
