<script setup>
import { ref } from 'vue';
import TheLoginForm from '@/components/TheLoginForm.vue'

const user = ref('')
const showResult = ref(false)

const handleListen = (username) => {
    user.value = username.value
    showResult.value = true
}

</script>

<template>
    <div>
        <TheLoginForm @show-result="handleListen" />
    </div>
</template>

<style scoped></style>
