<script setup>
import { ref } from "vue";
import useClickOutside from "@/composables/useClickOutside";
import BaseCustomInput from "@/components/BaseCustomInput.vue";
import BaseCustomButton from "@/components/BaseCustomButton.vue";

const containerRef = ref(null);
const input = ref({
  username: "",
  password: "",
});

const inputRef = ref();

const callback = () => {
  alert("Click Outside");
};
useClickOutside(containerRef, callback);

const handleClick = () => {
  inputRef.value.focus();
};
</script>

<template>
  <div class="wrapper">
    <el-form
      :model="input"
      status-icon
      label-width="120px"
      class="demo-ruleForm"
    >
      <el-form-item label="Username" prop="username">
        <base-custom-input
          ref="inputRef"
          v-model="input.username"
          placeholder="Enter username"
        />
      </el-form-item>

      <el-form-item label="Password" prop="password">
        <el-input
          v-model="input.password"
          type="password"
          autocomplete="off"
          placeholder="Enter password"
        />
      </el-form-item>

      <el-form-item>
        <base-custom-button @click="handleClick" type="success">
          Submit
        </base-custom-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<style scoped lang="scss">
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .el-input {
    width: 100%;
  }

  .box {
    width: 100px;
    height: 100px;
    background-color: red;
  }
}

.el-button .custom-loading .circular {
  margin-right: 6px;
  width: 18px;
  height: 18px;
  animation: loading-rotate 2s linear infinite;
}

.el-button .custom-loading .circular .path {
  animation: loading-dash 1.5s ease-in-out infinite;
  stroke-dasharray: 90, 150;
  stroke-dashoffset: 0;
  stroke-width: 2;
  stroke: var(--el-button-text-color);
  stroke-linecap: round;
}
</style>
