<script setup lang="ts">
import { computed } from "vue";
const props = defineProps({
  type: {
    type: String,
    default: "default",
  },
});

const cssClass = computed(() => ({
  default: props.type === "default",
  secondary: props.type === "secondary",
}));
</script>

<template>
  <el-button :bind="$attrs" :class="cssClass" :type="type">
    <template v-for="(_, name) in $slots">
      <slot :name="name"></slot>
    </template>
  </el-button>
</template>

<style scoped lang="scss">
.default {
  background-color: yellowgreen;
}

.secondary {
  background-color: aqua;
}

.before-text {
  margin-right: 5px;
}

.after-text {
  margin-left: 5px;
}
</style>
