<script setup>
import { ref } from "vue";
import { Plus } from "@element-plus/icons-vue";
import { usePostStore } from "@/stores/post";

const props = defineProps([
  "titleDialog",
  "isLoading",
  "handleConfirm",
  "handleCancel",
  "isActionButton",
]);
const store = usePostStore();
const isOpenPreviewDialog = ref(false);
const fileList = ref();

const onClose = () => {
  store.resetModel();
  fileList.value = [];
};

const handleChange = (uploadFile, fileList) => {
  console.log(uploadFile);
  console.log(fileList);
};

const handlePreview = (uploadFile) => {
  isOpenPreviewDialog.value = true;
  store.postModel.imageUrl = uploadFile.url;
};
</script>

<template>
  <el-dialog :title="titleDialog" @close="onClose">
    <el-form :model="store.postModel">
      <el-form-item label="Title" :label-width="100">
        <el-input v-model="store.postModel.title" autocomplete="off" />
      </el-form-item>

      <el-form-item label="Author" :label-width="100">
        <el-input v-model="store.postModel.author" autocomplete="off" />
      </el-form-item>

      <el-form-item label="Description" :label-width="100">
        <el-input
          v-model="store.postModel.description"
          :rows="4"
          type="textarea"
          autocomplete="off"
        />
      </el-form-item>

      <el-form-item label="Image" :label-width="100">
        <el-upload
          v-if="props.isActionButton"
          action="#"
          v-model:file-list="fileList"
          list-type="picture-card"
          :on-preview="handlePreview"
          :auto-upload="false"
          :on-change="handleChange"
        >
          <el-icon>
            <Plus />
          </el-icon>
        </el-upload>
        <el-image v-else :src="store.postModel.imageUrl" class="img-details" />
      </el-form-item>

      <el-dialog v-model="isOpenPreviewDialog">
        <img
          w-full
          :src="store.postModel.imageUrl"
          alt="Preview Image"
          class="img-preview"
        />
      </el-dialog>
    </el-form>

    <template #footer v-if="props.isActionButton">
      <span class="dialog-footer">
        <el-button @click="handleCancel">Cancel</el-button>
        <el-button :loading="isLoading" type="primary" @click="handleConfirm">
          {{ isLoading ? "Saving" : "Save" }}
        </el-button>
      </span>
    </template>
  </el-dialog>
</template>

<style scoped>
.img-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-details {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
</style>
