<script setup>
import { ref } from "vue";
const inputEl = ref();

function focus() {
  inputEl.value?.focus();
}

defineExpose({
  focus,
});
</script>

<template>
  <el-input :bind="$attrs" ref="inputEl">
    <template v-for="(_, name) in $slots" v-slot:[name]="data">
      <slot :name="name" v-bind="data"></slot>
    </template>
  </el-input>
</template>

<style lang=""></style>
