<script setup>
import { onBeforeMount, ref } from 'vue';
import { useRouter } from 'vue-router'
import { useAuthStore } from '@/stores/auth';

const router = useRouter();
const store = useAuthStore()

const formRef = ref()
onBeforeMount(() => store.user.isLogin ? router.push('/') : '')

const handlesubmit = (formRef) => {
    if (!formRef) return
    formRef.validate((valid) => {
        if (valid) {
            store.login()
        } else {
            return false
        }
    })
}

</script>

<template>
    <el-container>
        <el-header>
            Đăng nhập
        </el-header>
        <el-form ref="formRef" name="loginForm" label-position="top" :model="store.user" status-icon label-width="120px"
            @submit="handlesubmit" style="min-width: 350px" size="large">
            <el-form-item label="Username" prop="username" :rules="[
                {
                    required: true,
                    message: 'Please input username',
                    trigger: 'blur',
                }
            ]">
                <el-input v-model="store.user.username" type="text" autocomplete="off" />
            </el-form-item>
            <el-form-item label="Password" prop="password" :rules="[
                {
                    required: true,
                    message: 'Please input password',
                    trigger: 'blur',
                },
                {
                    min: 6,
                    message: 'Password must more than 6 character',
                    trigger: 'blur'
                },
            ]">
                <el-input v-model="store.user.password" type="password" autocomplete="off" />
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="handlesubmit(formRef)">LOGIN</el-button>
            </el-form-item>
        </el-form>
    </el-container>
</template>

<style scoped lang="scss">
.el-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CDD0D6;
    border-radius: 5px;
    background-color: #F5F7FA;
    padding: 50px 20px;

    .el-header {
        font-weight: 300;
        font-size: 30px;
    }

    .el-button {
        width: 100%;
        margin-top: 10px;
    }
}
</style>
