<script setup>
import { useAuthStore } from '@/stores/auth';

const store = useAuthStore()
</script>

<template>
    <el-row justify="end">
        <el-button v-if="store.user.isLogin" @click="store.logout" type="danger">Logout</el-button>
    </el-row>
</template>

<style scoped lang="scss">
.el-row {
    padding: 20px 40px;
    background-color: #409EFF;
}
</style>
