<script setup>
defineProps(["isLoading", "handleCancel", "handleConfirm"]);
</script>

<template>
  <el-dialog width="40%">
    <template #header>
      <h5>Delete Post</h5>
    </template>
    <span>Are you sure DELETE ?</span>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="handleCancel">Cancel</el-button>
        <el-button :loading="isLoading" type="primary" @click="handleConfirm">
          {{ isLoading ? "DELETING" : "DELETE" }}
        </el-button>
      </span>
    </template>
  </el-dialog>
</template>

<style scoped></style>
