<script setup>
import { ref, onBeforeMount } from "vue";
import { usePostStore } from "@/stores/post";
import { useRouter, useRoute } from "vue-router";
import BaseDialog from "@/components/BaseDialog.vue";
import ThePostDeleteDialog from "@/components/ThePostDeleteDialog.vue";

const store = usePostStore();
const router = useRouter();
const route = useRoute();
const titleDialog = ref("");
const isOpenDialog = ref(false);
const isOpenDialogDelete = ref(false);
const isActionButton = ref(true);
const isLoading = ref(false);
const searchQuery = ref(route.query.title_like || undefined);

const replaceRouteBySearchQuery = () => {
  router.replace({
    query: {
      title_like: searchQuery.value,
      _page: store.pagination.currentPage,
      _limit: store.pagination.pageSize || undefined,
    },
  });
};

const replaceRouteByCurrentpage = () => {
  router.replace({
    query: {
      _page: store.pagination.currentPage,
      _limit: store.pagination.pageSize || undefined,
    },
  });
};

onBeforeMount(async () => {
  store.pagination.currentPage = Number(route.query._page) || 1;
  store.pagination.pageSize = Number(route.query._limit) || 6;

  if (searchQuery.value === undefined) {
    await store.fetchPostListByCurrentPage();
    replaceRouteByCurrentpage();
  } else {
    await store.filterTitleLike(
      searchQuery.value,
      store.pagination.currentPage
    );
    replaceRouteBySearchQuery();
  }
});

const handleSearch = () => {
  if (
    searchQuery.value.trim() !== undefined &&
    searchQuery.value.trim() !== ""
  ) {
    store.filterTitleLike(searchQuery.value, 1);
    replaceRouteBySearchQuery();
  } else {
    store.fetchPostListByCurrentPage();
    replaceRouteByCurrentpage();
  }
};

const handlePageChange = (currentPage) => {
  store.pagination.currentPage = currentPage;
  if (searchQuery.value === undefined) {
    replaceRouteByCurrentpage();
    store.fetchPostListByCurrentPage();
  } else {
    store.filterTitleLike(searchQuery.value, currentPage);
    replaceRouteBySearchQuery();
  }
};

const onOpenDialog = () => {
  isActionButton.value = true;
  isOpenDialog.value = true;
};

const onCloseDialog = () => {
  isOpenDialog.value = false;
  isOpenDialogDelete.value = false;
  store.resetModel();
};

const handleOpenPostCreateDialog = async () => {
  titleDialog.value = "Create Post";
  await store.resetModel();
  onOpenDialog();
};

const handleOpenPostEditDialog = async (id) => {
  titleDialog.value = "Edit Post";
  await store.fetchDetailsPost(id);
  store.postModel.id = id;
  onOpenDialog();
};
const handleOpenPostDetailsDialog = async (id) => {
  titleDialog.value = "Details Post";
  await store.fetchDetailsPost(id);
  onOpenDialog();
  isActionButton.value = false;
};

const handleOpenPostDeleteDialog = (id) => {
  isOpenDialogDelete.value = true;
  store.postModel.id = id;
};

const hanldeConfirm = async () => {
  isLoading.value = true;
  if (store.postModel.id == "") {
    await store.createPost();
  } else {
    await store.updatePost();
  }
  onCloseDialog();
  isLoading.value = false;
};

const hanldeDelete = async () => {
  isLoading.value = true;
  await store.deletePost();
  isLoading.value = false;
  onCloseDialog();
};
</script>

<template>
  <el-container>
    <el-header>
      <el-row justify="space-between" align="middle" style="height: 100%">
        <h3 style="color: #606266">PostList</h3>
        <el-input
          v-model="searchQuery"
          placeholder="Type title to search"
          @keyup.enter="handleSearch"
          style="width: 30%"
        />
        <el-button
          size="default"
          type="success"
          @click="handleOpenPostCreateDialog"
        >
          Create Post
        </el-button>
      </el-row>
    </el-header>
    <el-main>
      <el-table :data="store.postList">
        <el-table-column prop="id" label="Id" width="150" />
        <el-table-column prop="title" label="Title" width="200" />
        <el-table-column prop="author" label="Author" width="200" />
        <el-table-column prop="description" label="Description" />
        <el-table-column prop="imageUrl" label="Image">
          <template #default="scope">
            <div style="display: flex; align-items: center">
              <el-image
                :src="scope.row.imageUrl"
                style="width: 100px; height: 50px"
              />
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="body">
          <template #header> Operations </template>
          <template #default="scope">
            <el-button
              type="info"
              @click="handleOpenPostDetailsDialog(scope.row.id)"
            >
              Details
            </el-button>
            <el-button
              type="warning"
              @click="handleOpenPostEditDialog(scope.row.id)"
            >
              Edit
            </el-button>
            <el-button
              type="danger"
              @click="handleOpenPostDeleteDialog(scope.row.id)"
              >Delete</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <BaseDialog
        v-model="isOpenDialog"
        :title="titleDialog"
        :is-loading="isLoading"
        :handle-cancel="onCloseDialog"
        :is-action-button="isActionButton"
        :handle-confirm="hanldeConfirm"
      />
      <ThePostDeleteDialog
        v-model="isOpenDialogDelete"
        :is-loading="isLoading"
        :handle-cancel="onCloseDialog"
        :handle-confirm="hanldeDelete"
      />
    </el-main>
    <el-footer>
      <el-row justify="end" align="middle">
        <el-pagination
          :page-size="store.pagination.pageSize"
          @current-change="handlePageChange"
          :current-page="store.pagination.currentPage"
          background
          layout="prev, pager, next"
          :total="store.pagination.totalPost"
        />
      </el-row>
    </el-footer>
  </el-container>
</template>

<style scoped lang="scss">
.el-container {
  height: calc(100vh - 72px);

  .el-main {
    height: calc(100vh - 72px - 60px - 50px);

    .el-table {
      width: 100%;
      height: 100%;
    }
  }

  .el-footer {
    height: 55px;
  }
}
</style>
